<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Filtern
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="d-flex flex-column text-blue">
          <ul class="nav flex-column mb-auto">
            <li class="nav-item">
              <button class="btn nav-link active">alle</button>
            </li>
            @for (category of dataService.categories; track $index ) {
            <li class="nav-item">
              <button class="btn nav-link">{{category}}</button>
        </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

